<!-- TEMPLATE FOR WIDGET -->

<!-- optional: insert here links to special fonts/arrows/etc -->

<% if (typeof recommendations === 'undefined') { recommendations = [];
} else if (recommendations.length > 0) { %>

  <div class='eb-wrapper'>
    <!-- <link href='yourlinktostyles' rel='stylesheet' type='text/css'> -->
    <p class='eb-title'>
      <%= config.widget.title %>
    </p>
    <div class='eb-recommendations'>
      <% for (var i = 0; i < recommendations.length; i++) { %>
        <$- include('components/_product') $>
      <% } %>
    </div>
  </div>

  <script>
    jQuery(document).ready(function () {
        window.eb.initSlider('.eb-recommendations');
    });  
  </script>

<% } %>
