/* EB STYLES */

.eb-wrapper {
	 overflow: hidden;
	 margin: 0 auto 16px;
	 height: 565px;
}
 @media only screen and (min-width: 1025px) {
	 .eb-wrapper {
		 width: 1440px;
		 max-width: 100%;
	}
}
 .eb-wrapper .fa {
	 opacity: 0 !important;
}
 .eb-wrapper:hover .fa {
	 opacity: 1 !important;
}
 .eb-wrapper .eb-title {
	 font-family: "Lato", Arial, sans-serif;
	 text-transform: uppercase;
	 text-align: center;
	 font-size: 1.2rem;
	 margin: 0 auto 15px;
	 width: 100%;
	 height: 40px;
	 padding: 5px;
	 color: black;
}
 .eb-wrapper .eb-recommendations {
	 padding: 0px;
	 margin: 0;
	 display: flex;
	 flex-direction: row;
}
 .eb-wrapper .eb-recommendations .eb-recommendation {
	 padding: 0.5rem;
	 position: relative;
	 margin-bottom: 0px;
	 display: block;
	 width: 22%;
	 height: 460px;
	 border: 2px solid #fff;
}
 .eb-wrapper .eb-recommendations .eb-recommendation:hover {
	 border: 2px solid rgba(235, 235, 235, 1);
}
 .eb-wrapper .eb-recommendations .eb-recommendation .eb-product-img {
	 height: 294px;
	 margin: 0 auto;
}
 .eb-wrapper .eb-recommendations .eb-recommendation .eb-product-infos {
	 text-align: center;
}
 .eb-wrapper .eb-recommendations .eb-recommendation .eb-product-infos .eb-product-title {
	 color: #091835;
	 font-size: 0.8125rem;
	 text-transform: none;
	 letter-spacing: 0.075rem;
	 margin: 5px auto 12px;
	 font-weight: normal;
}
 .eb-wrapper .eb-recommendations .eb-recommendation .eb-product-infos .eb-product-title:hover {
	 text-decoration: underline;
}
 .eb-wrapper .eb-recommendations .eb-recommendation .eb-product-infos .eb-product-brand {
	 font-weight: 700;
	 letter-spacing: 0.15rem;
	 text-transform: uppercase;
	 color: #091835;
	 font-size: 0.8125rem;
	 margin: 10px auto 3px;
}
 .eb-wrapper .eb-recommendations .eb-recommendation .eb-product-infos .eb-product-price {
	 display: flex;
	 flex-direction: column;
}
 .eb-wrapper .eb-recommendations .eb-recommendation .eb-product-infos .eb-product-price .eb-price-sale {
	 font-size: 1rem;
	 font-weight: 700;
	 letter-spacing: 0.05rem;
	 color: #f91a1a;
	 margin: 0 auto 5px;
}
 .eb-wrapper .eb-recommendations .eb-recommendation .eb-product-infos .eb-product-price .eb-price-before {
	 text-transform: none;
	 font-size: 0.8125rem;
	 color: #091835;
	 letter-spacing: 0.05rem;
	 margin: 0 auto;
}

/* Slider */
.eb-wrapper a {
	 text-decoration: none;
}
 .eb-wrapper a:hover {
	 text-decoration: none;
}
 .eb-wrapper .slick-arrow {
	 position: absolute;
	 font-size: 40px;
	 color: black;
	 transition: 0.6s;
}
 .eb-wrapper .fa-chevron-left {
	 left: 0;
}
 .eb-wrapper .fa-chevron-right {
	 right: 0;
}
 .eb-wrapper .slick-slider {
	 position: relative;
	 display: block;
	 box-sizing: border-box;
	 -webkit-touch-callout: none;
	 -webkit-user-select: none;
	 -khtml-user-select: none;
	 -moz-user-select: none;
	 -ms-user-select: none;
	 user-select: none;
	 -ms-touch-action: pan-y;
	 touch-action: pan-y;
	 -webkit-tap-highlight-color: transparent;
}
 .eb-wrapper .slick-list {
	 position: relative;
	 overflow: hidden;
	 display: block;
	 margin: 0;
	 padding: 0;
}
 .eb-wrapper .slick-list:focus {
	 outline: none;
}
 .eb-wrapper .slick-list.dragging {
	 cursor: pointer;
	 cursor: hand;
}
 .eb-wrapper .slick-slider .slick-track, .eb-wrapper .slick-slider .slick-list {
	 -webkit-transform: translate3d(0, 0, 0);
	 -moz-transform: translate3d(0, 0, 0);
	 -ms-transform: translate3d(0, 0, 0);
	 -o-transform: translate3d(0, 0, 0);
	 transform: translate3d(0, 0, 0);
}
 .eb-wrapper .slick-track {
	 position: relative;
	 left: 0;
	 top: 0;
	 display: block;
	 margin-left: auto;
	 margin-right: auto;
	 height: 500px;
}
 .eb-wrapper .slick-track:before, .eb-wrapper .slick-track:after {
	 content: "";
	 display: table;
}
 .eb-wrapper .slick-track:after {
	 clear: both;
}
 .slick-loading .eb-wrapper .slick-track {
	 visibility: hidden;
}
 .eb-wrapper .slick-slide {
	 float: left;
	 height: 100%;
	 min-height: 1px;
	 display: none;
}
 [dir="rtl"] .eb-wrapper .slick-slide {
	 float: right;
}
 .eb-wrapper .slick-slide img {
	 display: block;
}
 .eb-wrapper .slick-slide.slick-loading img {
	 display: none;
}
 .eb-wrapper .slick-slide.dragging img {
	 pointer-events: none;
}
 .slick-initialized .eb-wrapper .slick-slide {
	 display: block;
}
 .slick-loading .eb-wrapper .slick-slide {
	 visibility: hidden;
}
 .slick-vertical .eb-wrapper .slick-slide {
	 display: block;
	 height: auto;
	 border: 1px solid transparent;
}
 
